<div class="container">
  <h1>Dashboard</h1>

  <div class="container">
    <div class="row">
        <label>My latest submissions:</label>
        <app-submissions-table [loggedInUser]="loggedInUser"  [submissions]="loggedInUser?.submissions">
        </app-submissions-table>
    </div>
  </div>
</div>
