<div class="container">
  <div class="page-header">
    <h1>
      Import settings from another course
    </h1>
    api-vertical-nav/>
  </div>

  <div class="col-md-9 page-body">
    <form [formGroup]="data">
      <div class="form-group row">
        <label class="col-lg-3 control-label">Source course:</label>
        <div class="col-lg-8">
          <select id="source_c" formControlName="source_c">
            <option class="form-control" required *ngFor="let course of loggedInUser.courses"
                    [ngValue]="course">
              {{course?.codename}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Target course:</label>
        <div class="col-lg-8">
          <select id="target_c" formControlName="target_c">
            <option class="form-control" required *ngFor="let course of loggedInUser.courses"
                    [ngValue]="course">
              {{course?.codename}}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="(target_c?.dirty || target_c?.touched)">
        <div *ngIf="!sourceTargetDistinct()" class="alert alert-danger">
          Source and target course must be different.
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Copy users in groups:</label>
        <div class="col-lg-8">
          <input class="form-control" id="users_groups" formControlName="users_groups" type="checkbox"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Copy users in roles:</label>
        <div class="col-lg-8">
          <input class="form-control" id="users_roles" formControlName="users_roles" type="checkbox"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-3">
          <button [attr.disabled]="data.status === 'VALID' && sourceTargetDistinct() ? null : true"
                  class="btn btn-primary btn-signin"
                  type="submit"
                  (click)="doImport()">
            Import
          </button>
        </div>
        <div class="col-lg-3">
          <input type="submit" class="btn btn-default" value="Revert" (click)="resetForm()">
        </div>
      </div>
    </form>
  </div>
</div>

