.row-class-pass {
  background-color: #33cc33 !important;
}

.row-class-fail {
  background-color: #ff4c05 !important;
}

.row-class-error {
  background-color: #d40dd6 !important;
}

.row-class-none {
  background-color: #c1d7d7 !important;
}

.row-class-skip {
  background-color: #ffff80 !important;
}

.pager a {
  color: #333333 !important;
}
