<div class="container">

  <div class="page-header">
    <h1>User Profile: {{user?.name}}</h1>

    <div class="row page-controls">
      <div class="col-lg-4">
        <button class="btn btn-dark"
                routerLinkActive="active" [routerLink]="['password']">
          Change password
        </button>
      </div>
      <div class="col-lg-4" *ngIf="(loggedInUser?.is_admin) && (loggedInUser?.id != user?.id)">
        <button
          data-toggle="modal" data-target="#delete_user_modal"
          class="btn btn-danger col-lg-4">
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="container page-body">
    <form [formGroup]="updateData">
      <div class="form-group row">
        <label class="col-lg-4 control-label">Username:</label>
        <div class="col-lg-5">
          <input [attr.disabled]="loggedInUser?.is_admin ? null : true" type="text" id="username"
                 formControlName="username" class="form-control" pattern="\w+" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-4 control-label">Email:</label>
        <div class="col-lg-5">
          <input [attr.disabled]="(loggedInUser?.is_admin || own) ? null : true" type="email" id="email"
                 formControlName="email" class="form-control" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-4 control-label">UCO:</label>
        <div class="col-lg-5">
          <input [attr.disabled]="(loggedInUser?.is_admin || own) ? null : true" type="text" pattern="\d+" id="uco"
                 formControlName="uco" class="form-control" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-4 control-label">Name:</label>
        <div class="col-lg-5">
          <input [attr.disabled]="loggedInUser?.is_admin ? null : true" type="text" id="name" formControlName="name"
                 class="form-control">
        </div>
      </div>

      <div class="form-group row" *ngIf="loggedInUser?.is_admin">
        <label class="col-lg-4 control-label">Is Admin?</label>
        <div class="col-lg-5">
          <input type="checkbox" id="is_admin" formControlName="is_admin" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-4 control-label">Created: </label>
        <div class="col-lg-5">
          <input type="datetime-local" formControlName="created_at" class="form-control" [attr.disabled]="true"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-4 control-label">Updated: </label>
        <div class="col-lg-5">
          <input type="datetime-local" formControlName="updated_at" class="form-control" [attr.disabled]="true"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-4 control-label">Number of submissions: </label>
        <div class="col-lg-5">
          {{user?.submissions?.length}}
        </div>
      </div>


      <div class="form-group row">
        <div class="col-md-4">
          <button [attr.disabled]="updateData.status === 'VALID' ? null : true" class="btn btn-primary btn-signin"
                  type="submit"
                  (click)="updateProfile()">
            Update profile
          </button>
        </div>
        <div class="col-md-4">
          <input type="submit" class="btn btn-default" value="Revert" (click)="resetForm()">
        </div>
      </div>
    </form>

    <div class="container card" [attr.name]="'Secrets'">
      <div class="card-header projects-header" [id]="['secrets-header']">

        <button class="btn btn-link" data-toggle="collapse"
                [attr.data-target]="['#secrets-collapse']"
                [attr.aria-expanded]="true"
                [attr.aria-controls]="['secrets-collapse']">
          <strong><span class="fa fa-caret-down"></span></strong>
        </button>
        <a>
          Secrets
        </a>
      </div>

      <div [id]="['secrets-collapse']"
           class="collapse"
           [attr.aria-labelledby]="['secrets-header']">
        <app-secret-list
          [loggedInUser]="loggedInUser"
          [secretsOwner]="user"></app-secret-list>
      </div>
    </div>
  </div>

  <div *ngIf="(loggedInUser?.is_admin) && (loggedInUser?.id != user?.id)">
    <div id="delete_user_modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Do you wish to delete user: <strong>{{user?.username}}</strong>?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteUser()">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




