#topbar.navbar {
  background-color: #494949;
}

#topbar {
  height:60px;
  width:100%;
  padding:0;
}

#topbar .navbar-brand {
  font-family: Audiowide, sans-serif;
  font-size: xx-large;
  color: #fff;
}

#topbar .navbar-logo {
  width:50px;
}

#topbar .navbar-header:hover {
  background-color: #5e6368;
  cursor: pointer;
}

#topbar.navbar .dropdown-menu a {
  cursor: pointer;
}
#topbar.navbar .dropdown-menu a.disabled {
  cursor: not-allowed;
  color: #5e6368;
}

#topbar .top-nav-item {
  color: #fff;
  font-size: medium;
}

#topbar .top-nav-item:hover {
  background-color: #5e6368;
  cursor: pointer;
}

#topbar .top-nav-item:active .top-nav-item:focus {
  background-color: #5e6368;
}

#topbar .top-nav-item:focus {
  background-color: #5e6368;
}
