<nav id="topbar" class="navbar navbar-expand-lg fixed-top" role="navigation">
  <div class="navbar-header" [routerLink]="['/']" routerLinkActive="active">
    <ul class="nav navbar-nav list-inline navbar-left">
      <li class="list-inline-item">
        <img class="navbar-logo" src="../../../assets/KontrLogo.png">
      </li>
      <li class="list-inline-item">
        <span class="navbar-brand">Kontr 2.0</span>
      </li>
    </ul>
  </div>

  <div class="ml-auto nav navbar-nav" *ngIf="!status">
    <span style="color: white; font-size: 1.3em">
      <strong>Backend is: </strong>
      <strong style="color: red">Offline</strong>
    </span>
  </div>

  <div class="collapse navbar-collapse navbar-collapse-1 ml-auto">

    <ul class="nav navbar-nav navbar-utility list-inline navbar-right ml-auto">
      <li class="list-inline-item">
        <a class="top-nav-item" [routerLink]="['/submissions/create']">
          <span class="fa fa-plus-circle"></span>
          <span>
            &nbsp;Create new submission
          </span>
        </a>
      </li>

      <li class="dropdown list-inline-item">
        <a class="dropdown-toggle top-nav-item" data-toggle="dropdown">
          <span class="fa fa-question-circle"></span>
          <span>&nbsp;Help</span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="https://gitlab.fi.muni.cz/grp-kontr2/kontr-documentation">
              <span class="fas fa-question-circle"></span>
              <span>&nbsp;Project Documentation</span>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a class="dropdown-item" href="https://gitlab.fi.muni.cz/grp-kontr2">
              <span class="fab fa-git"></span>
              <span>&nbsp;Project Repository</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="https://gitlab.fi.muni.cz/grp-kontr2/kontr-features-and-bugs">
              <span class="fab fa-git"></span>
              <span>Bugs and Features</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="https://gitlab.fi.muni.cz/grp-kontr2/kontr-documentation">
              <i class="fas fa-info"></i>
              <span>Documentation</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="dropdown list-inline-item">
        <a class="dropdown-toggle top-nav-item" data-toggle="dropdown">
          <span class="fa fa-user"></span>
          <span>&nbsp; {{ loggedInUser?.name }} &nbsp; ({{loggedInUser?.username}}) </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" [routerLink]="['/users/' + loggedInUser?.id]">
              <i class="fas fa-user"></i>
              <span>&nbsp;Profile</span>
            </a>
          </li>
          <li class="divider"></li>
          <li><a class="dropdown-item" (click)="logout()">
            <span class="fas fa-sign-out-alt"></span>
            <span>&nbsp; Log out</span>
          </a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

