<div id="login-page" class="login-pf-page">
  <div class="container-fluid">
    <div style="margin-top: 20px" class="row">
      <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="col-sm-5">
          <div class="col-md-offset-3">
            <img style="margin: auto;" class="login-pf-brand" src="../../assets/KontrLogo.png" alt="logo"/>
          </div>

          <div style="color: #000" class="login-pf-page-footer">
            <ul class="login-pf-page-footer-links list-unstyled">
              <!-- TODO: add links -->
              <li><a style="display: none" href="#">Terms of Use</a></li>
              <li><a style="display: none" href="#">Help</a></li>
              <li><a style="display: none" href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>


        <div class="col-sm-6">
          <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li>
              <a href="#tab-gitlab" aria-controls="tab-gitlab" data-toggle="tab">Gitlab</a>
            </li>
            <li>
              <a href="#tab-basic" aria-controls="tab-basic" data-toggle="tab">Username</a>
            </li>
          </ul>
          <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="tab-gitlab">
              <app-gitlab-login></app-gitlab-login>
            </div>
            <div class="tab-pane" id="tab-basic">
              <app-basic-login></app-basic-login>
            </div>
          </div>
        </div>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div>
