<div class="container">
  <div class="page-header">
    <h1>Create a project</h1>

  </div>

  <div class="col-md-9 page-body">
    <form [formGroup]="createData" class="form-signin">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" required
                 autofocus>
        </div>
      </div>

      <div class="form-group row">
        <label for="codename" class="col-lg-3 control-label">Codename:</label>
        <div class="col-lg-8">
          <input type="text" id="codename" formControlName="codename" class="form-control"
                 placeholder="Codename for the project" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          <textarea id="description" formControlName="description" class="form-control" placeholder="Description">
          </textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="assignment-url" class="col-lg-3 control-label">Assignment url:</label>
        <div class="col-lg-8">
          <input type="text" id="assignment-url" formControlName="assignment_url" class="form-control"
                 placeholder="Project assignment url">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-3">
          <button [attr.disabled]="(createData.status === 'VALID') && userCanCreateProject() ? null : true"
                  class="btn btn-lg btn-primary btn-signin"
                  type="submit" (click)="doCreate()">Create
          </button>
        </div>
      </div>
    </form>
  </div>
</div>




