<div class="container">
  <div class="page-header">
    <h1>Create user</h1>

  </div>


  <div class="col-md-9 page-body">

    <form [formGroup]="createData" class="form-signin">
      <div class="form-group row">
        <label class="col-lg-3 control-label">Username:</label>
        <div class="col-lg-8">
          <input type="text" id="username" formControlName="username" class="form-control" placeholder="xlogin" required
                 pattern="\w+" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="name" required
                 pattern="[\w\s]+" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
          <input type="text" id="email" formControlName="email" class="form-control" placeholder="email" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">UCO:</label>
        <div class="col-lg-8">
          <input type="text" id="uco" pattern="\d+" formControlName="uco" class="form-control" placeholder="uco"
                 required>
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-lg-3">Is Admin:</label>
        <div class="col-lg-8">
          <input type="checkbox" id="is_admin" formControlName="is_admin" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <button [attr.disabled]="(createData.status === 'VALID') ? null : true"
                class="btn btn-lg btn-primary btn-signin"
                type="submit" (click)="doCreate()">
          Create
        </button>
      </div>
    </form>
  </div>
</div>




