<div id="groups-list" class="container">

  <div class="page-header">
    <h1>
      Groups
    </h1>


    <div class="row page-controls">
      <div class="col-lg-4">
        <button class="btn btn-success pull-right" *ngIf="userCanCreateGroup()" routerLinkActive="active"
                [routerLink]="['/courses/' + course?.id + '/groups/create']">
          <span class="fa fa-plus-circle"></span> Create a new Group
        </button>

      </div>
    </div>
  </div>

  <div class="container page-body" id="groups-container-list">
    <div>
      <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the username column...'
        (keyup)='updateFilter($event)'
      />
      <ngx-datatable
        #table
        class="bootstrap"
        [rows]="groups"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [headerHeight]="50"
        [footerHeight]="40"
        [reorderable]="reorderable">
        <ngx-datatable-column name="Codename" prop="codename" [flexGrow]="3">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="[row.id]">{{value}}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name" prop="name" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Users" [flexGrow]="3" *ngIf="userCanUpdateUsers()">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a routerLinkActive="active" [routerLink]="[row.id + '/users']">
              Users
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="userCanUpdateProjects()" [flexGrow]="3" name="Projects">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a routerLinkActive="active" [routerLink]="[row.id + '/projects']">
              Projects
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Updated at" prop="updated_at" [flexGrow]="2">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created at" prop="created_at" [flexGrow]="4">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
