<div class="container" id="courses-list-page">
  <div class="page-header">
    <h1>
      Courses List
    </h1>

    <div class="row page-controls">
      <div class="col-lg-3" *ngIf="loggedInUser?.is_admin">
        <button class="btn btn-success"
                routerLinkActive="active" [routerLink]="['/courses/create']">
          <span class="fa fa-plus-circle"></span> Create a new course
        </button>
      </div>
    </div>
  </div>

  <div id="courses-list" style="margin-top: 25px" class="container page-body">
    <input
      type='text'
      style='padding:8px;margin:15px auto;width:30%;'
      placeholder='Type to filter the codename column...'
      (keyup)='updateFilter($event)'
    />
    <ngx-datatable
      #table
      class="bootstrap"
      [rows]="courses"
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="20"
      [reorderable]="reorderable">

      <ngx-datatable-column name="Codename" prop="codename" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/courses/' + value]">{{value}}</a>
        </ng-template>
        s
      </ngx-datatable-column>

      <ngx-datatable-column name="Name" prop="name" [flexGrow]="3">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Projects" prop="id" [flexGrow]="2">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/courses/' + value + '/projects']">Projects</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Roles" prop="id" [flexGrow]="4">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/courses/' + value + '/roles']">Roles</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Groups" sortable="false" prop="id">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['/courses/' + value + '/groups']">Groups</a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
</div>
</div>

