<div class="card-body">
  <form [formGroup]="configData">
    <div class="form-group row" *ngIf="userCanViewFullConfig()">
      <label class="col-lg-3 control-label">Test files source:</label>
      <div class="col-lg-8">
        <input type="text" formControlName="testFilesSource"
               [attr.disabled]="userCanUpdateProject() ? null : true"
               id="test-files-source" class="form-control">
      </div>
    </div>
    <div class="form-group row" *ngIf="userCanViewFullConfig()">
      <label class="col-lg-3 control-label">Test files subdir:</label>
      <div class="col-lg-8">
        <input type="text" formControlName="testFilesSubdir"
               [attr.disabled]="userCanUpdateProject() ? null : true"
               id="test-files-subdir" class="form-control">
      </div>
    </div>
    <div class="form-group row" *ngIf="userCanViewFullConfig()">
      <label class="col-lg-3 control-label">File whitelist:</label>
      <div class="col-lg-8">
        <textarea formControlName="fileWhitelist" id="file-whitelist"
                  [attr.disabled]="userCanUpdateProject() ? null : true"
                  class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row" *ngIf="userCanViewFullConfig()">
      <label class="col-lg-3 control-label">Pre-submit script:</label>
      <div class="col-lg-8">
        <textarea formControlName="preSubmitScript"
                  [attr.disabled]="userCanUpdateProject() ? null : true"
                  id="pre-submit-script" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row" *ngIf="userCanViewFullConfig() ? null : true">
      <label class="col-lg-3 control-label">Post-submit script:</label>
      <div class="col-lg-8">
        <textarea formControlName="postSubmitScript"
                  [attr.disabled]="userCanUpdateProject() ? null : true"
                  id="post-submit-script" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row" *ngIf="userCanViewFullConfig() ? null : true">
      <label class="col-lg-3 control-label">Submission parameters:</label>
      <div class="col-lg-8">
                <textarea formControlName="submissionParameters" id="submission-parameters"
                          [attr.disabled]="userCanUpdateProject()  ? null : true"
                          class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row" *ngIf="userCanViewFullConfig()">
      <label class="col-lg-3 control-label">Submission scheduler configuration:</label>
      <div class="col-lg-8">
                <textarea formControlName="submissionSchedulerConfig"
                          id="submission-scheduler-config"
                          [attr.disabled]="userCanUpdateProject()  ? null : true"
                          class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 control-label">Submissions allowed from:</label>
      <div class="col-lg-8">
        <input
          [attr.disabled]="userCanUpdateProject()  ? null : true"
          placeholder="Date Time:"
          formControlName="submissionsAllowedFrom"
          [owlDateTime]="submissionsAllowedFromPick"
          class="form-control">
        <span *ngIf="userCanUpdateProject()" class="example-trigger" [owlDateTimeTrigger]="submissionsAllowedFromPick">
            <i class="fas fa-calendar-alt"></i>
        </span>
        <owl-date-time [pickerMode]="'dialog'" [disabled]="userCanUpdateProject()  ? null : true"
                       #submissionsAllowedFromPick></owl-date-time>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 control-label">Submissions allowed to:</label>
      <div class="col-lg-8">
        <input [attr.disabled]="userCanUpdateProject()  ? null : true"
               formControlName="submissionsAllowedTo" placeholder="Date Time:"
               [owlDateTime]="submissionsAllowedToPick"
               [owlDateTimeTrigger]="submissionsAllowedToPick" class="form-control">
        <owl-date-time [disabled]="userCanUpdateProject()  ? null : true" [pickerMode]="'dialog'"
                       #submissionsAllowedToPick></owl-date-time>
      </div>
    </div>
    <div class="form-group row" *ngIf="userCanViewFullConfig()">
      <label class="col-lg-3 control-label">Archive from:</label>
      <div class="col-lg-8">
        <input [attr.disabled]="userCanUpdateProject()  ? null : true"
               formControlName="archiveFrom" placeholder="Date Time:"
               [owlDateTime]="archiveFromPick"
               [owlDateTimeTrigger]="archiveFromPick" class="form-control">
        <owl-date-time [disabled]="userCanUpdateProject()  ? null : true"
                       [pickerMode]="'dialog'" #archiveFromPick></owl-date-time>
      </div>
    </div>

    <div class="form-group row" *ngIf="userCanUpdateProject()">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <button [attr.disabled]="configData?.status === 'VALID' ? null : true"
                class="btn btn-primary btn-signin"
                type="submit"
                (click)="updateConfig()">
          Update configuration
        </button>
        <span></span>
        <input type="submit" class="btn btn-default" value="Revert" (click)="resetForm()">
      </div>
    </div>
  </form>
</div>
