<div class="row page-center">
  <div class="col-md-2 col-md-offset-4 align-middle">
    <button style="margin: 20px" (click)="doGitlabLogin()" class="btn">
      <i style="margin-right: 20px" class="fab fa-gitlab"></i>
      <span class="">Sign in with Gitlab</span>
    </button>
  </div>
</div>
