<div class="container">
  <div class="page-header">
    <h1>
      Submission <strong>{{submission.created_at | date:'dd.MM.yyyy HH:mm.ss':'+0000'}}</strong>
    </h1>


    <div class="container row page-controls">
      <div class="col-lg-12">
        <hr/>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary btn-block" routerLinkActive="active"
                [routerLink]="['/submissions/']">
          Back to submissions
        </button>
      </div>

      <div class="col-lg-2"
           *ngIf="['CREATED', 'READY', 'QUEUED'].includes(submission.state) && userCanCancelSubmission()">
        <button class="btn btn-danger btn-block" (click)="cancelSubmission()">
          Cancel submission processing
        </button>
      </div>
      <div class="col-lg-2" *ngIf="!['CANCELLED', 'CREATED'].includes(submission.state) && userCanResubmitSubmission()">
        <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#resubmit_submission_modal">
          Resubmit
        </button>
      </div>
      <div class="col-lg-2" *ngIf="loggedInUser?.is_admin">
        <button data-toggle="modal" data-target="#delete_submission_modal"
                class="btn btn-danger btn-block">
          Delete
        </button>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary btn-block" routerLinkActive="active" [routerLink]="['/review/' + submission.id]">
          Review Tool
        </button>
      </div>

      <div class="col-lg-2" *ngIf="submissionHasResultsAvailable()">
        <button class="btn btn-primary btn-block" routerLinkActive="active" [routerLink]="['stats']">
          Stats
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div>
      <h2>Submission detail:</h2>
    </div>
    <div class="col-md-6 page-body">
      <div class="form-group row">
        <label class="col-lg-3 control-label">Author:</label>
        <a class="col-lg-8" routerLinkActive="active" [routerLink]="['/users/' + submission?.user?.id]">
          {{submission?.user?.username}} ({{submission?.user?.uco}})
        </a>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Course:</label>
        <a class="col-lg-8" routerLinkActive="active" [routerLink]="['/courses/' + submission?.course?.id]">
          {{submission?.course?.codename}}
        </a>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">Project:</label>
        <a class="col-lg-8" routerLinkActive="active"
           [routerLink]="['/courses/' + submission?.course?.id + '/projects/' + submission?.project?.id]">
          {{submission?.project?.codename}}
        </a>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 control-label">State:</label>
        <div class="col-lg-8">
          {{submission?.state}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Result:</label>
        <div class="col-lg-8">
          {{submission?.result}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Points:</label>
        <div class="col-lg-8">
          {{submission?.points}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Created:</label>
        <div class="col-lg-8">
          {{submission?.created_at | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Updated:</label>
        <div class="col-lg-8">
          {{submission?.updated_at | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
        </div>
      </div>
    </div>


    <div class="col-md-6 page-body">
      <div class="form-group row">
        <label class="col-lg-3 control-label">Source hash:</label>
        <div class="col-lg-8">
          {{submission?.source_hash}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-4 control-label">Submission parameters:</label>
        <div class="col-lg-8">
          {{submission?.parameters | json}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-4 control-label">Submission note:</label>
        <div class="col-lg-8">
          {{submission?.note | json}}
        </div>
      </div>

      <div class="form-group row" *ngIf="submission?.scheduled_for">
        <label class="col-lg-3 control-label">Scheduled for:</label>
        <div class="col-lg-8">
          {{submission?.scheduled_for}}
        </div>
      </div>
    </div>


    <div class="container row">
      <h4 class="col-lg-12">
        <strong>Download resources:</strong>
      </h4>
      <div class="col-lg-1" *ngIf="userCanViewSources()">
        <a class="btn" (click)="downloadZip('sources')">Sources</a>
      </div>
      <div class="col-lg-1" *ngIf="userCanDownloadTestFiles()">
        <a class="btn" (click)="downloadZip('test_files')">Test Files</a>
      </div>
      <div class="col-lg-1" *ngIf="userCanDownloadResults()">
        <a class="btn" (click)="downloadZip('results')">Results</a>
      </div>
    </div>
  </div>

  <div *ngIf="(loggedInUser?.is_admin)">
    <div id="delete_submission_modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete submission</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Do you wish to delete submission: <strong>{{submission?.id}}</strong>
              from course {{submission?.project?.course?.codename}} authored by {{submission?.user?.username}}?
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteSubmission()">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="userCanResubmitSubmission()">
    <div id="resubmit_submission_modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Resubmit submission</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Do you wish to resubmit submission: <strong>{{submission?.id}}</strong>
              from course {{submission?.project?.course?.codename}} authored by {{submission?.user?.username}}?
              The submission's author will be its original author.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="resubmitSubmission()">Yes
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
