<div class="container">

  <div class="page-header">
    <h1> Role: {{role?.name}}</h1>
    <p>{{role?.description}}</p>

    <div class="page-navigation row">
      <div class="col-lg-4">
        <a routerLinkActive="active" [routerLink]="['/courses/' + role?.course.id]">Parent course
          ({{role?.course?.codename}})</a>
      </div>
      <div class="col-lg-4">
        <a routerLinkActive="active" [routerLink]="['/courses/' + role?.course.id + '/roles']">
          Roles list
        </a>
      </div>
    </div>

    <div class="page-controls row">
      <div class="col-lg-3" *ngIf="userCanUpdateRole()">
        <button data-toggle="modal" data-target="#delete_role_modal" class="btn btn-danger">
          Delete
        </button>
      </div>
      <div class="col-lg-9" *ngIf="userCanUpdateRole()">
        <button class="btn btn-dark" [routerLink]="['users']">
          Users
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-9 page-body">
    <h3>{{role?.name}}</h3>
    <form [formGroup]="formData">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input [attr.disabled]="userCanUpdateRole() ? null : true" type="text" id="name"
                 formControlName="name" class="form-control" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="codename" class="col-lg-3 control-label">Codename:</label>
        <div class="col-lg-8">
          <input [attr.disabled]="userCanUpdateRole() ? null : true" type="text" id="codename"
                 formControlName="codename" class="form-control" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          <textarea [attr.disabled]="userCanUpdateRole() ? null : true"
                    id="description" formControlName="description" class="form-control" placeholder="Description">
          </textarea>
        </div>
      </div>

      <div class="form-group row" *ngIf="userCanUpdateRole()">
        <div class="col-md-3">
          <button [attr.disabled]="formData?.status === 'VALID' ? null : true" class="btn btn-primary btn-signin"
                  type="submit"
                  (click)="updateRole()">
            Update
          </button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-default" (click)="resetForm()">Revert</button>
        </div>
      </div>
    </form>

    <div class="card" id="role-perm-config-drop" [attr.name]="'configuration'" *ngIf="userCanUpdateRole()">
      <div class="card-header roles-header" [id]="['role-header-config']">

        <button class="btn btn-link" data-toggle="collapse"
                [attr.data-target]="['#role-collapse-config']"
                [attr.aria-expanded]="true"
                [attr.aria-controls]="['role-collapse-config']">
          <strong><span class="fa fa-caret-down"></span></strong>
        </button>
        <a>
          Permissions
        </a>
      </div>
      <div [id]="['role-collapse-config']"
           class="collapse"
           [attr.aria-labelledby]="['role-header-config']"
           data-parent="#role-perm-config-drop">
        <app-role-permissions [role]="role" [loggedInUser]="loggedInUser">
        </app-role-permissions>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(loggedInUser?.is_admin)">

  <div id="delete_role_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Role</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you wish to delete role: <strong>{{role?.name}} from course {{role?.course?.codename}}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteRole()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
