<div class="card-body">
  <form [formGroup]="permissionsData" *ngIf="userCanViewPermissions()">
    <div class="row" *ngFor="let perm of permissionsEntries()" >
      <label class="col-lg-5 control-label">
        {{perm[0]}}
      </label>
      <div class="col-lg-3">
        <input [attr.name]="perm[0]" type="checkbox"
               [formControlName]="perm[0]"
               [id]="perm[0]"
               class="form-control"
               [attr.disabled]="userCanUpdatePermissions()? null : true">
      </div>
    </div>
    <div class="row">
      <input type="submit"
             name="update-permissions"
             value="Update permissions"
             class="btn btn-outline-primary"
      (click)="updatePermissions()">
    </div>
  </form>
</div>
