<div class="container">
  <div class="page-header">
    <h1>New submission</h1>
  </div>

  <div class="col-md-12 page-body" *ngIf="courseOptions.length > 0">
    <form [formGroup]="createData">

      <div class="form-group row">
        <label class="col-lg-3 control-label">Course</label>
        <div class="col-lg-3">
          <select id="course" formControlName="course" class="form-control"
                  placeholder="Course"
                  (ngModelChange)="selectProjectForCourse($event)" required autofocus>
            <option *ngFor="let course of courseOptions" [ngValue]="course"
                    [attr.selected]="selectedCourse?.id === course.id">
              {{course?.codename}}
            </option>
          </select>
          <div
            *ngIf="createData.controls['course'].invalid && (createData.controls['course'].dirty || createData.controls['course'].touched)"
            class="alert alert-danger">

            <div *ngIf="createData.controls['course'].errors.required">
              Course is required.
            </div>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-lg-3 control-label">Project</label>
        <div class="col-lg-3">
          <select id="project" class="form-control" formControlName="project"
                  placeholder="Project"
                  (ngModelChange)="projectChanged($event)"
                  required [attr.disabled]="projectOptions.length !== 0 ? null : true">
            <option *ngFor="let project of projectOptions" [ngValue]="project"
                    [attr.selected]="selectedProject?.id === project.id">
              {{project?.name}}
            </option>
          </select>
          <div *ngIf="createData.controls['project'].invalid &&
          (createData.controls['project'].dirty || createData.controls['project'].touched)"
               class="alert alert-danger">

            <div *ngIf="createData.controls['project'].errors.required">
              Project is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 control-label">Type</label>
        <div class="col-lg-3">
          <select id="type" class="form-control" formControlName="type" placeholder="Submission type" required>
            <option *ngFor="let type of typeOptions" [ngValue]="type">
              {{type}}
            </option>
          </select>
          <div *ngIf="createData.controls['type'].invalid &&
          (createData.controls['type'].dirty || createData.controls['type'].touched)"
               class="alert alert-danger">

            <div *ngIf="createData.controls['type'].errors.required">
              Submission type is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="createData.get('type').value === 'git'">
        <label class="col-lg-3 control-label">Repository URL</label>
        <div class="col-lg-8">
          <input type="text" id="url" formControlName="url" class="form-control" placeholder="url" required>
        </div>
        <div *ngIf="createData.controls['url'].invalid &&
          (createData.controls['url'].dirty || createData.controls['url'].touched)"
             class="alert alert-danger">

          <div *ngIf="createData.controls['url'].errors.required">
            URL is required for 'git' submissions.
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="createData.get('type').value === 'git'">
        <label for="from_dir" class="col-lg-3 control-label">Subdirectory</label>
        <div class="col-lg-8">
          <input type="text" id="from_dir" formControlName="from_dir" class="form-control" required>
        </div>
        <div *ngIf="createData.controls['from_dir'].invalid &&
          (createData.controls['from_dir'].dirty || createData.controls['from_dir'].touched)"
             class="alert alert-danger">

          <div *ngIf="createData.controls['from_dir'].errors.required">
            Subdirectory is required for 'git' submissions.
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="createData.get('type').value === 'git'">
        <label class="col-lg-3 control-label">Repository branch  <i>(Optional)</i></label>
        <div class="col-lg-8">
          <input type="text" id="branch" formControlName="branch" class="form-control" placeholder="branch">
        </div>
      </div>

      <div class="form-group row" *ngIf="createData.get('type').value === 'git'">
        <label class="col-lg-3 control-label">Reference to checkout <i>(Optional)</i></label>
        <div class="col-lg-8">
          <input type="text" id="checkout" formControlName="checkout" class="form-control" placeholder="checkout">
        </div>
      </div>

      <div class="form-group row">
        <button [attr.disabled]="(createData.status === 'VALID') && validateGitData()? null : true"
                class="btn btn-lg btn-primary btn-signin"
                type="submit" (click)="doCreate()">Create
        </button>
      </div>
    </form>
  </div>

  <div class="page-body" *ngIf="courseOptions.length == 0">
    <h3>You are not in any course, you cannot create new submission</h3>
  </div>
</div>




