<!-- filters -->
<div class="container-fluid">
  <div class="page-header">
    <h1>
      Submission list
    </h1>

    <div class="page-controls">
      <div class="col-log-4">
        <button class="btn btn-success" routerLinkActive="active" [routerLink]="['create']">
          <span class="fa fa-plus-circle btn-lg"></span>
          Create a new submission
        </button>
      </div>
    </div>
  </div>

  <div class="page-body container-fluid">
    <form [formGroup]="filters" *ngIf="!loading">
      <div class="row">
        <div class="form-group col-lg-2">
          <label>Course</label>
          <angular2-multiselect [data]="courseOptions"
                                [settings]="courseSettings"
                                (onSelect)="onCourseSelect($event)"
                                (onDeSelect)="onCourseDeselect($event)"
                                formControlName="course">
          </angular2-multiselect>
        </div>

        <div class="form-group col-lg-2">
          <label>Project</label>
          <angular2-multiselect [data]="projectOptions"
                                [settings]="projectSettings"
                                [(ngModel)]="selectedProjects"
                                [disabled]="selectedCourse === null"
                                formControlName="project">
          </angular2-multiselect>
        </div>

        <div class="form-group col-lg-2">
          <label>Group</label>
          <angular2-multiselect [data]="groupOptions"
                                [settings]="groupSettings"
                                [(ngModel)]="selectedGroups"
                                [disabled]="selectedCourse === null"
                                formControlName="group">
          </angular2-multiselect>
        </div>
        <div class="form-group col-lg-2">
          <label>Role</label>
          <angular2-multiselect [data]="roleOptions"
                                [settings]="roleSettings"
                                [(ngModel)]="selectedRoles"
                                [disabled]="selectedCourse === null"
                                formControlName="role">
          </angular2-multiselect>
        </div>
        <div class="form-group col-lg-2">
          <label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </label>
          <button class="btn btn-primary btn-signin btn-lg"
                  type="submit"
                  (click)="showFiltered()">
            Show filtered
          </button>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-3">
        <label>
          Filter
        </label>
        <input
          type='text'
          style='padding:8px;width: 100%'
          placeholder='Filter by username ...'
          (keyup)='updateFilter($event)'
        />
      </div>
      <div class="form-group col-lg-2">
        <label>State</label>
        <angular2-multiselect [data]="stateOptions"
                              [(ngModel)]="selectedState"
                              [settings]="stateSettings"
                              (onSelect)="onStateSelect($event)"
                              (onDeSelect)="onAnyDeselect($event)">
        </angular2-multiselect>
      </div>
      <div class="form-group col-lg-2">
        <label>Result</label>
        <angular2-multiselect [data]="resultOptions"
                              [(ngModel)]="selectedResult"
                              [settings]="resultSettings"
                              (onSelect)="onResultSelect($event)"
                              (onDeSelect)="onAnyDeselect($event)">
        </angular2-multiselect>
      </div>
    </div>
      <app-submissions-table [limit]="15"
                             [loggedInUser]="loggedInUser" [submissions]="submissions">

      </app-submissions-table>
  </div>
</div>
<!-- submission list -->
