<div id="workers-list" class="container">
  <div class="page-header">
    <h1>
      Workers
    </h1>
    <div class="page-controls">
      <button class="btn btn-success pull-right" routerLinkActive="active"
              [routerLink]="['/workers/create']">
        <span class="fa fa-plus-circle"></span> Create a new workers
      </button>
    </div>
  </div>


  <div class="container page-body" id="components-container-list">
    <div>
      <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the username column...'
        (keyup)='updateFilter($event)'
      />
      <ngx-datatable
        #table
        class="bootstrap"
        [rows]="workers"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [reorderable]="reorderable">
        <ngx-datatable-column name="Codename" prop="codename" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/workers/' + value]">{{value}}</a>
          </ng-template>
          s
        </ngx-datatable-column>
        <ngx-datatable-column name="Url" prop="url" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Updated at" prop="updated_at" [flexGrow]="2">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created at" prop="created_at" [flexGrow]="4">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Update" sortable="false" prop="id">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/users/' + value]"><span class="fa fa-edit"></span></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
