<div class="container">
  <div class="page-header">

    <h1>Group: {{group?.name}}</h1>
    <p>{{group?.description}}</p>
    <div id="group-detail-links" class="row page-navigation">
      <div class="col-lg-5">
        <a routerLinkActive="active" [routerLink]="['/courses/' + group?.course.id]">
          Parent course
          ({{group?.course?.codename}})</a>
      </div>
      <div class="col-lg-5">
        <a routerLinkActive="active" [routerLink]="['/courses/' + group?.course.id + '/groups']">
          Groups list
        </a>
      </div>
    </div>

    <div class="row page-navigation">
      <div class="page-controls col-lg-1" *ngIf="userCanUpdateGroup()">
        <button data-toggle="modal" data-target="#delete_group_modal" class="btn btn-danger pull-right">
          Delete
        </button>
      </div>

      <div class="page-controls col-lg-1" *ngIf="userCanUpdateGroup()">
        <button class="btn btn-dark" [routerLink]="['users']">
          Users
        </button>
      </div>

      <div class="page-controls col-lg-1" *ngIf="userCanUpdateGroup()">
        <button class="btn" [routerLink]="['projects']">
          Projects
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-9 page-body">
    <h3>{{group?.name}}</h3>
    <form [formGroup]="formData">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input [attr.disabled]="userCanUpdateGroup() ? null : true" type="text" id="name"
                 formControlName="name" class="form-control" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="codename" class="col-lg-3 control-label">Codename:</label>
        <div class="col-lg-8">
          <input [attr.disabled]="userCanUpdateGroup() ? null : true" type="text" id="codename"
                 formControlName="codename" class="form-control" required>
        </div>
      </div>


      <div class="form-group row">
        <label for="description" class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          <textarea
            [attr.disabled]="userCanUpdateGroup() ? null : true"
            id="description" formControlName="description" class="form-control" placeholder="Description">
          </textarea>
        </div>
      </div>

      <div class="form-group row" *ngIf="userCanUpdateGroup()">
        <div class="col-md-3">
          <button [attr.disabled]="formData?.status === 'VALID' ? null : true" class="btn btn-primary btn-signin"
                  type="submit"
                  (click)="updateGroup()">
            Update
          </button>
          <span></span>
        </div>
        <div class="col-md-3">
          <button class="btn btn-default" value="Revert" (click)="resetForm()">
            Revert
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="(loggedInUser?.is_admin)">

  <div id="delete_group_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you wish to delete group: <strong>{{group?.name}} from course {{group?.course?.codename}}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteGroup()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
