<div class="container">
  <div class="page-header">
    <h1>Create a secret</h1>
  </div>

  <div class="col-md-9 page-body">
    <form [formGroup]="createData" class="form-signin">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="expiresAtDate" class="col-lg-3 control-label">Expiration date:</label>
        <div class="col-lg-8">
          <input type="date" id="expiresAtDate" formControlName="expiresAtDate" class="form-control" [min]="[now]">
        </div>
      </div>

      <div class="form-group row">
        <label for="expiresAtTime" class="col-lg-3 control-label">Expiration time:</label>
        <div class="col-lg-8">
          <input type="time" id="expiresAtTime" formControlName="expiresAtTime" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-3">
          <button [attr.disabled]="(createData.status === 'VALID') && userCanCreateSecret() && validateDatetime() ? null : true"
                  class="btn btn-lg btn-primary btn-signin"
                  type="submit" (click)="doCreate()">Create
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="new_secret_modal" class="modal" tabindex="-1" role="dialog" [style.display]="showSecretModal ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New secret data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="goAway()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Copy the value you see here, you won't be able to access it after you close this window:</p>
        <p>{{newSecretValue}}</p>
      </div>
    </div>
  </div>
</div>



