<div style="margin-top: 20px" class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="card-pf">
      <header class="login-pf-header">
        <h1>Log In to Your Account</h1>
      </header>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label class="sr-only" for="usernameInput">Username</label>
          <input type="text" formControlName="username" class="form-control  input-lg" id="usernameInput"
                 placeholder="Username">
        </div>
        <div class="form-group">
          <label class="sr-only" for="passwordInput">Password</label>
          <input type="password" formControlName="password" class="form-control input-lg" id="passwordInput"
                 placeholder="Password">
        </div>
        <div class="form-group login-pf-settings">
          <a href="#">Forgot password?</a>
        </div>
        <button type="submit" (click)="doLogin()" class="btn btn-primary btn-block btn-lg">Log In</button>
      </form>
    </div><!-- card -->
  </div><!-- col -->
</div><!-- row -->

<div class="container flash-messages-container">
  <flash-messages></flash-messages>
</div>

