#side-nav {
  position:fixed;
  height:100%;
  width:110px;
  z-index:3;
  top:60px; // fix according to top menu size
  left:0;
  overflow-x:hidden;
  background-color: #494949;
}
#side-nav .side-nav-item {
  color: white;
  padding: 15px 10px 15px 10px;
  text-align: center;
  font-size: medium;
}
#side-nav .side-nav-item span.fa {
  // icon color
  color: #a2a6a9;
}

#side-nav .selectable:hover {
  background-color: #5e6368;
  font-weight: bold;
  cursor: pointer;
}

#side-nav .selectable:hover span.fa {
  color: #990000;
}

#side-nav .selectable.active {
  background-color: #5e6368;
  font-weight: bold;
  border-left: 3px solid #990000;
}

#side-nav .selectable.active span.fa {
  color: #990000;
}

#side-nav .selectable.selected {
  color: white;
  font-weight: bold;
  background-color: #5e6368;
}

#side-nav .selectable.selected span.fa {
  color: #990000;
}

#side-nav .side-nav-item > span {
  font-size: x-large;
}
#side-nav .side-nav-item > div {
  font-size: medium;
}

#side-nav-details {
  position: fixed;
  left: -60px;
  width: 150px;
  top:60px; // fix according to top menu size
  height: 100%;
  background-color: #494949;
  z-index: 2;
  transition: left 200ms;
  color: white;
}
#side-nav-details.out {
  left: 110px;
  width: 200px;
}

#side-nav-details .side-nav-detail-item {
  line-height: 42px;
  font-size:small;
}

#side-nav-details .side-nav-detail-item .action {
  padding-left: 8px;
}
#side-nav-details .side-nav-detail-item .action a {
  color: white;
}
#side-nav-details .side-nav-detail-item .action a span:first-child {
  width: 24px;
  text-align: center;
}
#side-nav-details .side-nav-detail-item .action:hover {
  background-color: #5e6368;
}
#side-nav-details .side-nav-detail-item .action.active {
  background-color: #5e6368;
}

#side-nav-menu-shade {
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .2);
}
