<div id="sidebar-wrapper container">
  <!-- Sidebar Links -->

  <div id="side-nav-menu-shade" *ngIf="currentSubmenu != submenuTypes.None" (click)="hideSubmenu()">
  </div>

  <div id="side-nav">
    <div id="side-nav-item-dashboard" class="side-nav-item selectable" [class.active]="isDashboardRoute()"
         [class.selected]="currentSubmenu === submenuTypes.Dashboard" (click)="goToDashboard()">
      <span class="fa fa-dashcube menu-icon"></span>
      <div>Dashboard</div>
    </div>

    <div id="side-nav-item-users" *ngIf="loggedInUser?.is_admin" class="side-nav-item selectable" [class.active]="isUsersRoute()"
         [class.selected]="currentSubmenu === submenuTypes.Users" (click)="toggleSubMenu(submenuTypes.Users)">
      <span class="fa fa-users menu-icon"></span>
      <div>Users</div>
    </div>

    <div id="side-nav-item-courses" class="side-nav-item selectable" [class.active]="isCoursesRoute()"
         [class.selected]="currentSubmenu === submenuTypes.Courses" (click)="toggleSubMenu(submenuTypes.Courses)">
      <span class="fa fa-book menu-icon" routerLinkActive="active"></span>
      <div>Courses</div>
    </div>

    <div id="side-nav-item-submissions" class="side-nav-item selectable" [class.active]="isSubmissionsRoute()"
         [class.selected]="currentSubmenu === submenuTypes.Submissions"
         [routerLink]="['/submissions']">
      <span class="fa fa-paper-plane menu-icon"></span>
      <div>Submissions</div>
    </div>


    <div id="side-nav-item-components" *ngIf="loggedInUser?.is_admin" class="side-nav-item selectable"
         [class.active]="isWorkersRoute()"
         [class.selected]="currentSubmenu === submenuTypes.Workers" (click)="toggleSubMenu(submenuTypes.Workers)">
      <span class="fa fa-cogs menu-icon"></span>
      <div>Workers</div>
    </div>
    <!--<div class="side-nav-item-filler"\-->
  </div>

  <div id="side-nav-details" [class.out]="subMenuOut">
    <!-- Courses submenu -->
    <div id="side-nav-detail-courses" class="side-nav-detail-item" *ngIf="currentSubmenu === submenuTypes.Courses">
      <div class="action" [class.active]="isRouteActive('/courses', true)">
        <a routerLink="/courses"><span class="fa fa-fw fa-list"></span><span>View all courses</span></a>
      </div>
      <div class="action" *ngIf="loggedInUser.is_admin" [class.active]="isRouteActive('/courses/create')">
        <a routerLink="/courses/create"><span
          class="fas fa-plus-square"></span><span>Create New Course</span></a>
      </div>
      <div class="action" *ngIf="loggedInUser.is_admin"
           [class.active]="isRouteActive('/courses/copy')">
        <a routerLink="/courses/copy"><span class="fas fa-copy"></span><span>Copy Course</span></a>
      </div>
    </div>

    <!-- Workers submenu -->
    <div id="side-nav-detail-workers" class="side-nav-detail-item"
         *ngIf="currentSubmenu === submenuTypes.Workers && loggedInUser.is_admin">
      <div class="action" [class.active]="isRouteActive('/workers', true)">
        <a routerLink="/workers"><span class="fa fa-fw fa-list"></span><span>View all workers</span></a>
      </div>
      <div class="action" [class.active]="isRouteActive('/workers/create')">
        <a routerLink="/workers/create"><span
          class="fas fa-plus-square"></span><span>Create New Worker</span></a>
      </div>
      <div class="action" [class.active]="isRouteActive('/workers/copy')">
        <a routerLink="/workers/copy"><span class="fas fa-copy"></span><span>Copy Worker</span></a>
      </div>
    </div>

    <!-- Users submenu -->
    <div id="side-nav-detail-users" class="side-nav-detail-item"
         *ngIf="currentSubmenu === submenuTypes.Users && loggedInUser.is_admin">
      <div class="action" [class.active]="isRouteActive('/users', true)">
        <a routerLink="/users"><span class="fa fa-fw fa-list"></span><span>View all users</span></a>
      </div>
      <div class="action" [class.active]="isRouteActive('/users/create')">
        <a routerLink="/users/create"><span
          class="fas fa-plus-square"></span><span>Create New User</span></a>
      </div>
    </div>
  </div>
</div>

