<div class="container">

  <div class="page-header">
    <h1>{{project?.name}}</h1>
    <p>{{project?.description}}</p>

    <div class="row page-navigation">
      <div class="col-lg-4">
        <a routerLinkActive="active" [routerLink]="['/courses/' + project?.course?.id]">Parent course
          ({{project?.course?.codename}})</a>
      </div>
    </div>

    <div class="row page-controls">
      <div class="col-lg-3" *ngIf="loggedInUser?.is_admin">
        <button
          data-toggle="modal"
          data-target="#delete_project_modal" class="btn btn-danger pull-right">
          Delete
        </button>
      </div>
      <div class="col-lg-4" *ngIf="userCanCreateSubmissions()">
        <button class="btn btn-success"
                routerLinkActive="active" [routerLink]="['/submissions/create']"
                [queryParams]="{cid: project.course.id, pid:project.id}">
          <span class="fa fa-plus-circle"></span>
          Create a new submission
        </button>
      </div>
      <div class="col-lg-3" *ngIf="userCanUpdateProject()">
        <button class="btn btn-primary" (click)="updateTestFiles()">Update test files</button>
      </div>
    </div>
  </div>


  <div class="col-md-9 page-body">
    <h3>{{project?.name}} ({{project?.state}})</h3>
    <form [formGroup]="formData">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input [attr.disabled]="userCanUpdateProject() ? null : true" type="text" id="name"
                 formControlName="name" class="form-control" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="codename" class="col-lg-3 control-label">Codename:</label>
        <div class="col-lg-8">
          <input [attr.disabled]="userCanUpdateProject() ? null : true" type="text" id="codename"
                 formControlName="codename" class="form-control" required>
        </div>
      </div>


      <div class="form-group row">
        <label for="description" class="col-lg-3 control-label">Description:</label>
        <div class="col-lg-8">
          <textarea [attr.disabled]="userCanUpdateProject() ? null : true"
                    id="description" formControlName="description" class="form-control" placeholder="Description">
          </textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="assignment_url" class="col-lg-3 control-label">Assignment url:</label>
        <div class="col-lg-8">
          <input [attr.disabled]="userCanUpdateProject() ? null : true" type="text" id="assignment_url"
                 formControlName="assignment_url" class="form-control">
        </div>
      </div>


      <div class="form-group row" *ngIf="userCanUpdateProject()">
        <div class="col-md-3">
          <button [attr.disabled]="formData?.status === 'VALID' ? null : true" class="btn btn-primary btn-signin"
                  type="submit"
                  (click)="updateProject()">
            Update
          </button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-default" (click)="resetForm()">Revert</button>
        </div>
      </div>
    </form>

    <div class="card" [attr.name]="'configuration'">
      <div class="card-header projects-header" [id]="['project-header-config']">

        <button class="btn btn-link" data-toggle="collapse"
                [attr.data-target]="['#project-collapse-config']"
                [attr.aria-expanded]="true"
                [attr.aria-controls]="['project-collapse-config']">
          <strong><span class="fa fa-caret-down"></span></strong>
        </button>
        <a>
          Configuration
        </a>
      </div>

      <div [id]="['project-collapse-config']"
           class="collapse"
           [class.show]="showConfig ? 'show' : ''"
           [attr.aria-labelledby]="['project-header-config']">
        <app-project-config
          [loggedInUser]="loggedInUser"
          [project]="project"></app-project-config>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(loggedInUser?.is_admin)">

  <div id="delete_project_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you wish to delete project: <strong>{{project?.name}} from course {{project?.course?.codename}}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteProject()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
