<div class="container">
  <div class="page-header">
    <h1>
      Create a new worker
    </h1>

  </div>

  <div class="col-md-9 page-body">
    <form [formGroup]="createData" class="form-signin">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name"
                 class="form-control" placeholder="Name" required
                 pattern="\w+" autofocus>
        </div>
      </div>

      <div class="form-group row">
        <label for="url" class="col-lg-3 control-label">Url:</label>
        <div class="col-lg-8">
          <input type="text" id="url" formControlName="url"
                 class="form-control" placeholder="Url">
        </div>
      </div>

      <div class="form-group row">
        <label for="tags" class="col-lg-3 control-label">Tags:</label>
        <div class="col-lg-8">
          <input type="text" id="tags" formControlName="tags"
                 class="form-control" placeholder="Tags" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="portalSecret" class="col-lg-3 control-label">Portal Secret:</label>
        <div class="col-lg-8">
          <input type="text" id="portalSecret" formControlName="portalSecret"
                 class="form-control" placeholder="Portal secret">
        </div>
      </div>

      <div class="form-group row">
        <button [attr.disabled]="(createData.status === 'VALID') ? null : true"
                class="btn btn-lg btn-primary btn-signin"
                type="submit" (click)="doCreate()">Create
        </button>
      </div>
    </form>
  </div>
</div>
