<div class="container">

  <div class="page-header">
    <div class="row">
      <h1 class="col-lg-12">
        Course: <strong>{{course?.name}}</strong>
      </h1>
      <p class="col-lg-12">{{course?.description}}</p>
    </div>

    <div class="page-controls row">
      <div class="col-lg-3">
        <button *ngIf="loggedInUser?.is_admin"
                data-toggle="modal" data-target="#delete_course_modal"
                class="btn btn-danger">
          Delete
        </button>
      </div>
      <div class="col-lg-3">
        <button *ngIf="userCanUpdateCourse()" class="btn btn-primary pull-right"
                routerLinkActive="active" [routerLink]="['/courses/import']">
          Import settings
        </button>
      </div>
    </div>
  </div>

  <div class="container page-body">
    <div class="col-md-9">
      <form [formGroup]="updateFormData">
        <div class="form-group row">
          <label for="name" class="col-lg-3 control-label">Name:</label>
          <div class="col-lg-8">
            <input [attr.disabled]="(userCanUpdateCourse()) ? null : true"
                   type="text" id="name"
                   formControlName="name" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="codename" class="col-lg-3 control-label">Codename:</label>
          <div class="col-lg-8">
            <input [attr.disabled]="(userCanUpdateCourse()) ? null : true" type="text" id="codename"
                   formControlName="codename" class="form-control" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="description" class="col-lg-3 control-label">Description:</label>
          <div class="col-lg-8">
          <textarea [attr.disabled]="(userCanUpdateCourse()) ? null : true" id="description"
                    formControlName="description" class="form-control" placeholder="Description..."> </textarea>
          </div>
        </div>

        <div class="form-group row" *ngIf="(userCanUpdateCourse())">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button [attr.disabled]="updateFormData.status === 'VALID' ? null : true" class="btn btn-primary btn-signin"
                    type="submit"
                    (click)="updateCourse()">
              Update
            </button>
            <span></span>
            <input type="submit" class="btn btn-default" value="Revert" (click)="resetForm()">
          </div>
        </div>
      </form>
    </div>
  </div>


  <div>
    <div class="row">
      <h3>
        Other Resources
      </h3>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <a class="column btn" routerLinkActive="active" [routerLink]="['projects']">
          Projects ({{course.projects.length}})
        </a>
      </div>

      <div class="col-lg-4">
        <a class="column btn" routerLinkActive="active" [routerLink]="['roles']">
          Roles ({{course.roles.length}})
        </a>
      </div>

      <div class="col-lg-4">
        <a class="column btn" routerLinkActive="active" [routerLink]="['groups']">
          Groups ({{course.groups.length}})
        </a>
      </div>
    </div>
  </div>
</div>


<div id="delete_course_modal" class="modal" tabindex="-1" role="dialog" *ngIf="(loggedInUser?.is_admin)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you wish to delete course: <strong>{{course?.codename}}</strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCourse()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
