<div class="container">
  <div class="page-header">
    <h1>
      Users
    </h1>
    <div class="row page-controls">
      <div class="col-lg-4">
        <button class="btn btn-success pull-right" routerLinkActive="active"
                [routerLink]="['/users/create']">
          <span class="fa fa-plus-circle"></span> Create a new user
        </button>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div>
      <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the username column...'
        (keyup)='updateFilter($event)'
      />
      <ngx-datatable
        #table
        class="bootstrap"
        [rows]="users"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="20"
        [reorderable]="reorderable">
        <ngx-datatable-column name="Username" prop="username" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/users/' + value]">{{value}}</a>
          </ng-template>s
        </ngx-datatable-column>
        <ngx-datatable-column name="Uco" prop="uco" [flexGrow]="3">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Updated at" prop="updated_at" [flexGrow]="2">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created at" prop="created_at" [flexGrow]="4">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'dd.MM.yyyy HH:mm.ss':'+0000'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Update" sortable="false" prop="id">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/users/' + value]"><span class="fa fa-edit"></span></a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Update password" sortable="false" prop="id">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/users/' + value + '/password']"><span class="fa fa-key"></span></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>



