/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts";


@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "assets/scss/row-result";

@import "~ng-pick-datetime/assets/style/picker.min.css";

.page-header {
  margin-bottom: 15px;
}

@font-face {
  font-family: "Audiowide";
  src: url("assets/Audiowide/Audiowide-Regular.eot?") format("eot"),
  url("assets/Audiowide/Audiowide-Regular.woff") format("woff"),
  url("assets/Audiowide/Audiowide-Regular.ttf") format("truetype"),
  url("assets/Audiowide/Audiowide-Regular.svg#Audiowide-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}


