<div class="container">

  <div class="page-header">
    <h1>
      Component: {{worker?.name}}
    </h1>

    <div class="page-object-controls row">
      <div class="col-lg-3">
        <button data-toggle="modal" data-target="#delete_component_modal"
                class="btn btn-danger pull-right">
          Delete
        </button>
      </div>
    </div>
  </div>


  <div class="col-md-9 page-body">
    <form [formGroup]="updateFormData" class="form-signin">
      <div class="form-group row">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input type="text" id="name" formControlName="name"
                 class="form-control" placeholder="Name" required
                 pattern="\w+" autofocus>
        </div>
      </div>

      <div class="form-group row">
        <label for="url" class="col-lg-3 control-label">Url:</label>
        <div class="col-lg-8">
          <input type="text" id="url" formControlName="url"
                 class="form-control" placeholder="Url">
        </div>
      </div>

      <div class="form-group row">
        <label for="tags" class="col-lg-3 control-label">Tags:</label>
        <div class="col-lg-8">
          <input type="text" id="tags" formControlName="tags"
                 class="form-control" placeholder="Tags" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="portalSecret" class="col-lg-3 control-label">Portal Secret:</label>
        <div class="col-lg-8">
          <input type="text" id="portalSecret" formControlName="portalSecret"
                 class="form-control" placeholder="Portal secret">
        </div>
      </div>


      <div class="form-group row">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button [attr.disabled]="updateFormData.status === 'VALID' ? null : true" class="btn btn-primary btn-signin"
                  type="submit"
                  (click)="updateWorker()">
            Update
          </button>
          <span></span>
          <input type="submit" class="btn btn-default" value="Revert" (click)="resetForm()">
        </div>
      </div>
    </form>

    <div class="container card" [attr.name]="'Secrets'">
      <div class="card-header projects-header" [id]="['secrets-header']">

        <button class="btn btn-link" data-toggle="collapse"
                [attr.data-target]="['#secrets-collapse']"
                [attr.aria-expanded]="true"
                [attr.aria-controls]="['secrets-collapse']">
          <strong><span class="fa fa-caret-down"></span></strong>
        </button>
        <a>
          Secrets
        </a>
      </div>

      <div [id]="['secrets-collapse']"
           class="collapse"
           [attr.aria-labelledby]="['secrets-header']">
        <app-secret-list
          [loggedInUser]="loggedInUser"
          [secretsOwner]="worker"></app-secret-list>
      </div>
    </div>
  </div>
</div>


<div id="delete_component_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete component</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Do you wish to delete component:
          <strong>{{worker?.name}}</strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteComponent()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
