<div id="role-users-list" class="container">
  <div class="row page-header">
    <h1>
      Projects in the group: {{group?.name}}
    </h1>

  </div>

  <div class="container page-body" id="roles-container-list">
    <div>
      <input
        type='text'
        style='padding:8px;margin:15px auto;width:30%;'
        placeholder='Type to filter the username column...'
        (keyup)='updateFilter($event)'
      />
      <ngx-datatable
        #table
        class="bootstrap"
        [rows]="projects"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [headerHeight]="50"
        [footerHeight]="40"
        [reorderable]="reorderable">
        <ngx-datatable-column name="Codename" prop="codename" [flexGrow]="3">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="[row.id]">{{value}}</a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="In group?" [flexGrow]="3">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{isActive(row)}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Action" [flexGrow]="3" *ngIf="userCanManageProjects()">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button *ngIf="isActive(row)" (click)="doAction(row)" class="btn btn-danger">
              <span class="fa fa-trash"></span>
            </button>
            <button *ngIf="!isActive(row)" (click)="doAction(row)" class="btn btn-success">
              <span class="fa fa-plus-square"></span>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
