<div id="wrapper">
  <app-top-menu [status]="status" *ngIf="loggedInUser"></app-top-menu>
  <app-side-menu *ngIf="loggedInUser"></app-side-menu>
  <div class="container" id="page-content">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
  </div>
</div>
